.Chat {
  flex: 0.65;
  display: flex;
  flex-direction: column;
}

.chat__header {
  display: flex;
  align-items: center;
  padding: 1rem;
}
.chat__header-info {
  flex: 1;
  margin: 0 1rem;
}
.chat__header-info span {
  color: var(--grey);
}

.chat__body {
  flex: 1;
  background-image: url("https://user-images.githubusercontent.com/15075759/28719144-86dc0f70-73b1-11e7-911d-60d70fcded21.png");
  background-repeat: repeat;
  background-position: center;
  padding: 2rem;
  overflow: auto;
}
.chat__body.type-chat .message__name {
  display: none;
}

.chat__body::-webkit-scrollbar {
  width: 0.4rem;
}
.chat__body::-webkit-scrollbar-thumb {
  border-radius: 1rem;
}
.chat__body::-webkit-scrollbar-thumb:hover {
  background: var(--grey);
}

.chat__footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}
.chat__footer form {
  flex: 1;
  display: flex;
}
.chat__footer input {
  font: inherit;
  border: none;
  outline: none;
  border-radius: 2rem;
  flex: 1;
  padding: 0 1rem;
  margin: 0.3rem 1rem;
}

@media screen and (max-width: 700px) {
  .Chat {
    flex: auto;
  }
}

@media screen and (max-width: 500px) {
  .chat__emoji-icon,
  .chat__mic-icon,
  .chat__header-info span {
    display: none !important;
  }
  .chat__header {
    padding: 0.3rem;
  }
  .chat__body {
    padding: 1rem;
  }
  .chat__footer {
    padding: 0.5rem 0;
  }
}
