:root {
  --primary-dark: #128c7e;
  --primary: #25d366;
  --primary-light: #dcf8c6;
  --secondary: #34b7f1;
  --background: #ededed;
  --white: #fff;
  --dark-grey: #5a5a5a;
  --grey: #aaa;
  --light-grey: #ddd;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

button {
  border: none;
  cursor: pointer;
  user-select: none;
}

a {
  color: inherit;
  text-decoration: none;
}
