.SidebarChat {
  display: flex;
  padding: 1rem;
  border-bottom: 1px solid #f6f6f6;
  cursor: pointer;
}
.SidebarChat:hover {
  background-color: #ebebeb;
}
.sidebarChat__info {
  margin-left: 0.8rem;
}
.sidebarChat__info span {
  color: #aaa;
}
